/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #383ad1;
  --ifm-color-primary-dark: #2d2fc2;
  --ifm-color-primary-darker: #2a2cb7;
  --ifm-color-primary-darkest: #232497;
  --ifm-color-primary-light: #4e4fd6;
  --ifm-color-primary-lighter: #585ad8;
  --ifm-color-primary-lightest: #797ae0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4d7ffe;
  --ifm-color-primary-dark: #2c67fe;
  --ifm-color-primary-darker: #1c5bfe;
  --ifm-color-primary-darkest: #0142e6;
  --ifm-color-primary-light: #6e97fe;
  --ifm-color-primary-lighter: #7ea3fe;
  --ifm-color-primary-lightest: #b0c6ff;
  
}
